*{
	padding: 0;
	margin: 0;
}
.container{
	width: 1020px;
	height: auto;
	margin: 0 auto;
}
/* css của  thành */
.container .header{
	width: 100%;
	height: 400px;
	background: #778899;
}
.header .menu{
	width: 100%;
	height: 100px;
	background: #575c60;
}
.menu .logo{
	width: 25%;
	height: 100px;
	background: white;
	float: left;
}
.logo img{
	width: 100%;
	height: 95%;
	margin-top: 5%;
}
.menu .headermenu{
	float: left;
	width: 75%;
	height: 100px;
}
.headermenu ul{
	display: block;
	width: 100%;
	height: 100px;
}
.headermenu ul li{
	float: left;
	width: auto;
	height: 50px;
	font-size: 22px;
	list-style: none;
	margin-left: 30px;
	margin-top: 25px;
	line-height: 50px;
}
.headermenu ul li a{
	display: block;
	width: 100%;
	height: 50px;
	text-decoration: none;
	color: white;
}
.headermenu ul li.active{
	background: yellow;
	border-radius: 10px;
	width: 15%;
	text-align: center;
}
.headermenu ul li.active a:hover{
	color: red;
}
.headermenu ul li:hover{
	border-bottom: 3px solid black;
}
.headermenu ul li a:hover{
	color: black;
}
.header .img{
	width: 96%;
	height: 300px;
	background-image: url('https://image.theleader.vn/thumbs/788x0/upload/quocdung/2018/3/14/amazon-pic.png');
	margin: 0 auto;
}
.img .icon img{
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
}
.icon1{
	float: left;
	margin-top: 100px;
}
.icon2{
	float: right;
	margin-top: 100px;
}
.icon1:hover{
	background: #778899;
}
.icon2:hover{
	background: #778899;
}
.img .title{
	width: 50%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
}
.title h1{
	width: 90%;
	height: 70px;
	color: yellow;
	font-size: 50px;
	background: #778899;
	opacity: 0.6;
	margin: 0 auto;
}
.title h2{
	margin-top: 5px;
	background: #778899;
	opacity: 0.6;
	width: 95%;
	height: 40px;
	font-size: 30px;
	color: yellow;
}
.title h3{
	width: 30%;
	height: 50px;
	background: blue;
	margin: 0 auto;
	margin-top: 40px;
	line-height: 50px;
	border-radius: 10px;
}
.title h3:hover{
	color: red;
	background: yellow;
}
/* css của  linh */
/* css của bảo */
/* css của  phê */
/* css của  HàEm */
.container .footer{
	width:100%;
	height: 350px;
	background: #042c6d;
}
.container .footer .Content{
	width: 100%;
	height:90%;
	
}
.footer .Content .Box10{
	margin: 0 auto;
	width: 92%;
	height: 100%;
	/* background: green; */
} 
.Content .Box10 .about{
	float: left;
	width: 23%;
	height: 100%
}
.Content .Box10 .about h3{
	color: white;
	padding-bottom: 25px;
}
.Content .Box10 .about p{
	color: #e8edf4;
	text-align: inherit;
}
.Content .Box10 .Company{
	float: left;
	width: 23%;
	height: 100%
}
.Box10 .Company ul li {
	display: block;
	width: 100%;
	height: 10%;
}
.Content .Box10 .Company h3{
	color: white;
	padding-bottom: 25px;
}
.Box10 .Company ul a {
	color: white;
	text-decoration: none;
}
.footer .Content .LatestBlog{
	float: left;
	width: 23%;
	height: 100%;
}
.footer .Content .LatestBlog .pic{
	width: 100%;
	height: 25%;
	}
.Content .Box10 .LatestBlog h3{
	color: white;
	padding-bottom: 25px;
}
.Content .LatestBlog .pic img{
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 15px;
	margin-top: 20px;
}
.Content .LatestBlog .pic p{
	padding-top: 20px;
	color: white;
}
.Content .LatestBlog p.pos{
	padding-top: 5px;
	padding-left: 60px;
}
.Content .LatestBlog .Pic img{
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 5px;s
	margin-right: 15px;
}
.Content .LatestBlog .Pic p{
	padding-top: 5px;
	padding-left: 60px;
	color: white;
}
.Content .LatestBlog p.pos{
	padding-top: 5px;
}
.footer .Content .Adress{
	float: left;
	width: 23%;
	height: 100%;
	margin-left: 20px;
}
.footer .Content .Adress h3{
	color: white;
	padding-bottom: 25px;
}
.footer .Content .Adress h4{
	color: white;
	padding-bottom: 5px;
}
.footer .Content .Adress p{
	color: white;
	margin-bottom: 5px;	
}
.footer .Content .Adress .email{
	float: left;
	width: 70%;
	height: 30px;
	background: white;
	border-radius: 10px 0px 0 10px;
}
.footer .Content .Adress .go{
	float: left;
	width: 20%;
	height: 30px;
	background: red;
	color: white;
	border-radius: 0px 10px 10px 0px;
}
.footer .Content .Adress .go p{
	text-align: center;
	line-height: 30px;
	color: white;

}
.container .footer .Foot{
	width: 100%;
	height:10%;
	background: white;
}
.footer .Foot p{
	padding-top: 10px;
	float: left;
	color: blue;
}
.footer .Foot p.color{
	padding-top: 10px;
	float: left;
	color: red;
}
.footer .Foot p.colors{
	padding-top: 10px;
	padding-left: 170px;
	float: left;
	color: red;
}
